
<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-red-900 border-0"
style="padding:5% ;"
  >

<div class="relative flex w-full flex-wrap items-stretch" style="margin-bottom: 20px;width: 40%; ">

  <span class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
      <i class="fas fa-search"></i>
  </span>
  <input type="text" placeholder="Search here..." [(ngModel)]="search" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10">


</div>

<div class="dashboard"   >
 
 
	<ul class="card" *ngFor="let card of listEquipe  | filter:search; let i = index" style="margin: 10px;" >
		<div class="card-title">
 			<span class="title">Nom: {{card.nom_Equipe}}</span>
		</div>
		<div class="description">
			Description: {{card.description}}
		</div>
		<div class="unlocked-role" >
      <div class="completed-before"  >
		
        <button class="sign-up-btn complete" style="background-color:#262b3d ;color: white; border: none;"  [routerLink]="['/projet',id,'modifier_equipe',card.id_equipe]"  >Afficher détails</button>
        <button class="sign-up-btn complete" style="background-color:#f44336 ;color: white; border: none;"  (click)="delete(card.id_equipe)" >Supprimer l'equipe</button>
			</div>
		</div>
 
	</ul>
</div>
</div>